body {
  padding-top: 10px;
}
.app > header > div {
  background-color: lightsteelblue;
  color: darkblue;
  justify-content: center;
  font-weight: bold;
  font-size: larger;
}
a {
  text-decoration: none;
}

.MuiGrid-container > a {
  color: orange;
}

.skylight-dialog > h3 {
  text-align: center;
  font-size: x-large;
  color: darkblue;
}

.skylight-dialog > form {
  display: flex;
  flex-direction: column;
}
.skylight-dialog > form > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.MuiGrid-container {
  justify-content: space-between;
}
